    <div class="RedGuard">
    <input type="checkbox" name="character" value="CharacterId:1" id="checkbox-2">
    <label for="checkbox-2" >Red Guard</label>
    </div>
    <div class="Demolitionist">
    <input type="checkbox" name="character" value="CharacterId:2" id="checkbox-3">
    <label for="checkbox-3">Demolitionist</label>
    </div>
    <div class="Hatchet">
    <input type="checkbox" name="character" value="CharacterId:3" id="checkbox-1">
    <label for="checkbox-1">Hatchet</label>
    </div>
    <div class="Voidwarden">
    <input type="checkbox" name="character" value="CharacterId:4" id="checkbox-4">
    <label for="checkbox-4" >Voidwarden</label>
    </div>
    <div>
    <input type="submit" name="submit" value="Submit"/>
    </div>