<form
    class="card-background flex flex-row w-fit border-5 mb-4 place-items-center text-md sm: md:grid-cols-5 xl:grid-cols-6"
    id="addCharacterForm">
   
    <div class="form-check p-3">
        <img class="border-2 flex-initial m-1 p-1 h-48" src="/images/characters/Voidwarden.jpg"
            alt="Voidwarden Character">
        <div>
            <input
                class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                type="checkbox" name="character" id="addVoidwarden">
            <label class="form-check-label inline-block text-gray-400" for="flexCheckDefault">
                Voidwarden
            </label>
        </div>
    </div>
    <div class="form-check p-3">
        <img class="border-2 flex-initial m-1 p-1 h-48" src="/images/characters/Hatchet.jpg" alt="Hatchet Character">
        <input
            class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
            type="checkbox" name="character" id="addHatchet">
        <label class="form-check-label inline-block text-blue-500" for="flexCheckDefault">
            Hatchet
        </label>
    </div>
    <div class="form-check p-3">
        <img class="border-2 flex-initial m-1 p-1 h-48" src="/images/characters/Demolitionist.jpg"
            alt="Demolitionist Character">
        <input
            class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
            type="checkbox" name="character" id="addDemo">
        <label class="form-check-label inline-block text-orange-800" for="flexCheckDefault">
            Demolitionist
        </label>
    </div>
    <div class="form-check p-3">
        <img class="border-2 flex-initial m-1 p-1 h-48" src="/images/characters/RedGuard.jpg" alt="RedGuard Character">
        <input
            class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
            type="checkbox" name="character" id="addRedGuard">
        <label class="form-check-label inline-block bg-pink text-red-800" for="flexCheckDefault">
            RedGuard
        </label>
    </div>
    <div>
    </div>
    </br>
    <div>
        <div class="relative h-32 w-32">
            <div class="absolute inset-x-0 h-16">
                <a type="button"
                    class="px-6 py-2.5 bg-gray-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out my-1 mx-2"
                    href="#" id="addCharacter">Add</a>
            </div>
        </div>
    </div>
</form>
</div>
