<form id="addCharacterForm">
    <div class="form-check border-4 border-gray-200 border-x-gray-500 text-white">
        <div class="form-check">
            <input
                class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                type="checkbox" name="character" value="playerId:4" id="flexCheckDefault">
            <label class="form-check-label inline-block text-brown-800" for="flexCheckDefault">
                Voidwarden
            </label>
            <input type="number" name="playerlevel" id="addcharacteroflevel">
            <label>
                Level
            </label>
        </div>
        <div class="form-check">
            <input
                class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                type="checkbox" name="character" value="playerId:3" id="flexCheckDefault">
            <label class="form-check-label inline-block text-brown-800" for="flexCheckDefault">
                Hatchet
            </label>
            <input type="number" name="playerlevel" id="addcharacteroflevel">
            <label>
                Level
            </label>
        </div>
        <div class="form-check">
            <input
                class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                type="checkbox" name="character" value="playerId:2" id="flexCheckDefault">
            <label class="form-check-label inline-block text-brown-800" for="flexCheckDefault">
                Demolitionist
            </label>
            <input type="number" name="playerlevel" id="addcharacteroflevel">
            <label>
                Level
            </label>
        </div>
        <div class="form-check">
            <input
                class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                type="checkbox" name="character" value="playerId:1" id="flexCheckDefault">
            <label class="form-check-label inline-block text-brown-800" for="flexCheckDefault">
                RedGuard

            </label>
            <input type="number" name="playerlevel" id="addcharacteroflevel">
            <label>
                Level
            </label><br>

            <button id="addCharacter">Add</button>
        </div>
</form>