<div class="card border-4 border-gray-200 border-x-gray-500 text-white">
    <h3>List of Monsters for New Encounter</h3>
    <ul>
        {{#each monsters}}
        <input type="checkbox" name="monster" value="{{id}}" id="{{id}}"><label>{{name}}</label>
        {{/each}}
    </ul>
</div>