<div class="card">
    <h3>List of Monsters to Add</h3>
    <ul>
        {{#each monster}}
        <input type="checkbox" name="monster" value="{{id}}" id="{{id}}"><label>{{name}}</label>
        {{/each}}
    </ul>
</div>