<form class="card" id="newMonsterForm">
    <label for="name">Name:</label>
    <input type="text" name="name" id="newmonstername" placeholder="Zealot"/>

    <label for="level">Level:</label>
    <input type="number" name="level" id="newmonsterlevel" placeholder="1" />

    <label for="special">special:</label>
    <input type="text" name="special" id="newmonsterspecial" placeholder="muddle" />

    <label for="hp">HP:</label>
    <input type="number" name="hp" id="newmonsterhp" placeholder="8" />

    <label for="move">Move:</label>
    <input type="number" name="move" id="newmonstermove" placeholder= "2" />

    <label for="attack">Atk:</label>
    <input type="number" name="attack" id="newmonsterattack" placeholder="3" />

    <label for="isElite">IsElite:</label>
    <input type="checkbox" name="isElite" id="newmonsteriselite"/><br>

    <button id="newMonsterBtn">Save</button>
</form>
