<form class="card" id="newMonsterForm">
    <label>Name:</label>
    <input type:"text" name:"name" id:"newmonstername" placeholder:"Zealot" />
    <label>Level:</label>
    <input type:"number" name:"level" id:"newmontsterlevel" placeholder:"1" />
    <label>special:</label>
    <input type:"text" name:"special" id:"newmonsterspecial" placeholder:"muddle" />
    <label>HP:</label>
    <input type:"number" name:"hp" id:"newmonsterhp" placeholder:"8" />
    <label>Move:</label>
    <input type:"number" name:"move" id:"newmonstermove" placeholder: "2" />
    <label>Atk:</label>
    <input type:"number" name:"attack" id:"newmonsterattack" placeholder:"3" />
    <label>IsElite:</label>
    <input type:"checkbox" name:"isElite" id:"newmonsteriselite">
    <button>Save</button>
</form>