<form class="card-background flex flex-row w-fit player-ridge border-8 mb-4 shadow-[0_0px_10px_5px_rgba(210,70,33,0.3)] transition ease-in-out delay-150 hover:scale-105 duration-150 place-items-center text-md" id="newMonsterForm">
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="newmonstername" placeholder="Zealot" />
    </div>
    <div>
        <label for="level">Level:</label>
        <input type="number" name="level" id="newmonsterlevel" placeholder="1" />
    </div>
    <div>
        <label for="special">special:</label>
        <input type="text" name="special" id="newmonsterspecial" placeholder="muddle" />
    </div>
    <div>
        <label for="hp">HP:</label>
        <input type="number" name="hp" id="newmonsterhp" placeholder="8" />
    </div>
    <div>
        <label for="move">Move:</label>
        <input type="number" name="move" id="newmonstermove" placeholder="2" />
    </div>
    <div>
        <label for="attack">Atk:</label>
        <input type="number" name="attack" id="newmonsterattack" placeholder="3" />
    </div>
    <div>
        <label for="isElite">IsElite:</label>
        <input type="checkbox" name="isElite" id="newmonsteriselite" /><br>
    </div>
    <button id="newMonsterBtn">Save</button>
</form>