<form class="card" id="newMonsterForm">
    <label>Name:</label>
    <input type:"text" name:"name" id:"newmonstername" placeholder:"Zealot" />
    <label>Level:</label>
    <input type:"number" name:"level" id:"newmontsterlvl" placeholder:"1" />
    <label>HP:</label>
    <input type:"number" name:"hp" id:"newmonsterhp" placeholder:"8" />
    <label>Move:</label>
    <input type:"number" name:"move" id:"newmonstermove" placeholder: "2" />
    <label>Atk:</label>
    <input type:"number" name:"attack" id:"newmonsteratk" placeholder:"3" />
    <label>onHit:</label>
    <input type:"text" name:"onHit" id:"newmonsteronhit" placeholder:"muddle" />
    <button>Save</button>
</form>