<form class="card-background flex flex-row w-fit border-7 mb-4 place-items-center text-md" id="newCharacterForm">
    <div class="m-1 px-8 py-8 w-full">
        <div class="-space-y-.5">
            <div class="flex justify-center">
                <h2>Provide Character Stats</h2>
            </div>
            </br>
            <div>
                <label for="name">Name:</label>
                <input type="text" name="name" id="newcharactername" placeholder="Voidwarden" />
            </div>
            </br>
            <div>
                <label for="level">Level:</label>
                <input type="number" name="level" id="newcharacterlevel" placeholder="1" />
            </div>
            </br>
            <div>
                <label for="special">Health:</label>
                <input type="text" name="special" id="newcharacterhealth" placeholder="10" />
            </div>
            </br>
            <div class="flex justify-center">
                <button class="ml-5 px-3 py-1 rounded font-semibold bg-gray-100 text-gray-800"
                    id="newCharacterBtn">Save</button>
            </div>
</form>
