<form class="card card border-4 border-gray-200 border-x-gray-500 text-blue w-80" id="newCharacterForm">
    <label for="name">Name:</label>
    <input type="text" name="name" id="newcharactername" placeholder="Voidwarden" />
    </br>
    <label for="level">Level:</label>
     <input type="number" name="level" id="newcharacterlevel" placeholder="1" />
    
    <label for="special">Health:</label>
    <input type="text" name="special" id="newcharacterhealth" placeholder="10" />

    <button class="ml-5 px-3 py-1 rounded font-semibold bg-gray-100 text-gray-800" id="newCharacterBtn">Save</button>
</form>