<form class="card" id="newCharacterForm">
    <label for="name">Name:</label>
    <input type="text" name="name" id="nnewcharactername" placeholder="Voidwarden" />

    <label for="level">Level:</label>
    <input type="number" name="level" id="newcharacterlevel" placeholder="1" />

    <label for="special">Health:</label>
    <input type="text" name="special" id="newcharacterhealth" placeholder="10" />

    <button id="newCharacterBtn">Save</button>
</form>