<div id="popup-modal" tabindex="-1" aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
  <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
    <form class="card-background flex flex-row w-fit border-7 mb-4 place-items-center text-md" id="newCharacterForm">
      <div class="m-1 px-8 py-8 w-full">
        <div class="-space-y-.5">
          <div class="flex justify-center">
            <h2>Update Character</h2>
          </div>
          </br>
          <div>
            <label for="name">Name:</label>
            <input type="text" name="name" id="newcharactername" placeholder="Voidwarden" />
          </div>
          </br>
          <div>
            <label for="level">Level:</label>
            <input type="number" name="level" id="newcharacterlevel" placeholder="1" />
          </div>
          </br>
          <div>
            <label for="special">Health:</label>
            <input type="text" name="special" id="newcharacterhealth" placeholder="10" />
          </div>
          </br>
          <div>
            <label for="special">Experience:</label>
            <input type="text" name="exp" id="newexperience" placeholder="10" />
          </div></br>
          <div class="flex justify-center">
            <button id="updateCharacter" data-modal-toggle="popup-modal" type="button"
              class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
              Update
            </button>
            <button data-modal-toggle="popup-modal" type="button"
              class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Cancel</button>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>