<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gloomhaven Helper</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    {{!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="use-credentials">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet"> --}}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>

</head>

<body>
    <nav class="flex-column items-center flex bg-gray-800 bg-opacity-90 px-12 py-4 mx-100 shadow-2xl w-12/12">
        <div class="text-2xl text-brown font-semibold inline-flex items-center">
            <img src="https://gloomhaven-storyline.com/img/gloomhaven-logo.webp" class="w-25 mr-7"
                alt="logo-img"><span>helper</span>
        </div>
        <div>
            <ul class="flex text-brown">
                {{#if logged_in}}
                <a class="ml-5 px-2 py-1" href="/home">Home</a></li>
                <button class="ml-5 px-3 py-1 rounded font-semibold bg-gray-100 text-gray-800" id='logoutBtn' href="/login">Logout</button></li>
                {{else}}
                <a class="ml-5 px-3 py-1 rounded font-semibold bg-gray-100 text-gray-800" href="/login">Login</a></li>
                {{/if}}
            </ul>
        </div>
    </nav>
    <main class="flex justify-content-center flex-wrap align-items-center mh-100">
        {{{body}}}
    </main>
    <footer class="">
        &copy;Gloomhaven Helper
    </footer>
    </div>
</body>

</html>
<script src="/js/logout.js"></script>