<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gloomhaven Helper</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    {{!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="use-credentials"> --}}
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    
</head>
<body>
    <header class="text-white">
        <div class="flex items-center">
            <h1><img src="https://gloomhaven-storyline.com/img/gloomhaven-logo.webp">HELPER</h1>
        </div>
    </header>
    <h1></h1>
    {{!-- add nav bar with tailwind --}}
    {{!-- {{{body}}} --}}
</body>
</html>