<main class="flex-auto grid grid-cols-1 gap-10 md:grid-cols-2 xl:grid-cols-3">
  <div class="col-span-1">
    <div class="m-2 p-2">
      {{#each players as |player|}}
      {{>playerStats}}
      {{/each}}
    </div>
  </div>
  
  {{!-- Turn Order --}}
  <div>
    <div class="pl-8 pr-8 border-2 mt-8 border-blue-500 w-full">
      <form id="turnorders">
        <div id="sortable1" class="connectedSortable">
          {{#each players as |player|}}
            <div class="ui-state-defadivt {{playerName}} text-black pl-2 pr-2 mb-2 border-2 border-black-500"> {{playerName}} 
              <input class="relative left-0" type="number" name="turnorder" min="1" max="100"/>
            </div>
          {{/each}}
          {{#each monsters as |monster|}}
            <div class="text-black pl-2 pr-2 mt-2 mb-2 bg-red-600 border-2 border-black-500"> {{name}}
              <input type="number" id={{name}} name="turnorder" min="1" max="100"/>
            </div>
          {{/each}}
        </div> 
      </form>
    </div> 
    <button class="delBtn" id="clearInput">Next Round</button>
  </div>

  <div class="place-items-center border-2 p-1 m-2 border-green-500 grid grid-cols-3 gap-1">
    {{#each monsters as |monster|}}
    {{>monsterstats}}
    {{/each}}
  </div>
</main>

<script src="/js/index.js"></script>
<script src="/js/addEffect.js"></script>