<main class="md:h-screen grid grid-cols-1 md:grid-cols-4 xl:grid-cols-6">
  <div class="flex justify-center border-2  md:col-span-2 md:h-[100%] md:overflow-y-auto xl:col-span-2">
    <div>
      {{#each players as |player|}}
      {{>playerStats}}
      {{/each}}
    </div>
  </div>
  
  {{!-- Turn Order --}}
  <div class="pl-16 pr-16 border-2 border-green-500 md:col-span-2 md:h-[100%] md:overflow-y-auto">
    <div class="border-2 mt-8 border-blue-500">
      <form id="turnorders">
        <div id="sortable1" class="connectedSortable">
          {{#each players as |player|}}
            <div class="ui-state-defadivt {{playerName}} text-black pl-2 pr-2 mb-2 border-2 border-black-500"> {{playerName}} 
              <input class="relative left-0" type="number" name="turnorder" min="1" max="100"/>
            </div>
          {{/each}}
          {{#each monsters as |monster|}}
            <div class="text-black pl-2 pr-2 mt-2 mb-2 bg-red-600 border-2 border-black-500"> {{name}}
              <input type="number" id={{name}} name="turnorder" min="1" max="100"/>
            </div>
          {{/each}}
        </div> 
      </form>
    </div> 
    <button class="delBtn" id="clearInput">Next Round</button>
  </div>

  <div class="flex justify-center overflow-auto border-2 border-green-500 grid grid-cols-3 gap-1 md:h-[100%] md:overflow-y-auto md:col-span-4 xl:col-span-2">
    {{#each monsters as |monster|}}
    {{>monsterstats}}
    {{/each}}
  </div>
</main>

<script src="/js/index.js"></script>
<script src="/js/addEffect.js"></script>