<body
    class="bg-[url(https://www.backerkit.com/blog/wp-content/uploads/2017/10/gloomhaven-isaac-childres-1.jpg)] bg-cover">
    <main class="flex grid grid-cols-1 p-8 justify-items-center">
        <div class="flex-row">
            <div class="col-2">
                <div class="rounded-lg shadow-lg bg-gray-800 max-w-sm bg-opacity-90 my-8">
                    <a href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light">
                        <img class="rounded-t-lg"
                            src="https://raw.githubusercontent.com/any2cards/gloomhaven/master/images/map-tiles/gloomhaven/gh-d1a.png">
                    </a>
                    <div class="p-6">
                        <h3 class="flex justify-center text-brown-900 text-xl font-medium mb-2">Welcome,{{User.username}}
                        </h3>
                        <p class="flex justify-center text-brown-700 text-base mb-4">
                            What is your mission today?
                        </p>
                        <form class="flex justify-center my-5">
                            <input type="text" name="newCampaign" id="createCampaign"
                                placeholder="New Campaign Name Here!">
                        </form>
                        {{#each campaigns as |campaign|}}
                            <a type="button" class="inline-block px-6 py-2.5 bg-gray-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out my-1 mx-2 currentCampaign" href="" id={{id}}>Load {{name}}</a>
                        {{/each}}
                        <a type="button"
                            class="inline-block px-6 py-2.5 bg-gray-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out my-1 mx-2"
                            href="/newEncounter" id="newForm">New Encounter</a>
                        <a type="button"
                            class=" inline-block px-6 py-2.5 bg-gray-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out my-1"
                            href="/currentEncounter">Resume Encounter</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/dashboard.js"></script>
    <script src="/js/usersCampaigns.js"></script>
