<body class="bg-[url(https://www.backerkit.com/blog/wp-content/uploads/2017/10/gloomhaven-isaac-childres-1.jpg)] bg-cover">

<div class="card">
    <h2 class="card-header">Login</h2>
    <form class="card-body login-form" id="loginForm">
            <input type="text" name="loginUser" id="loginUser" placeholder="username">
            <input type="text" name="loginPassword" id="loginPassword" placeholder="password">
            <button>Login</button>
        </form>
    <br>
    <a class="ml-5 px-3 py-1 rounded font-semibold bg-gray-100 text-gray-800" href="/signup">Don't have an account? Sign Up!</a>
</div>

</body>

<script src="/js/login.js"></script>
