<div class="card">
    <h2 class="card-header">Login</h2>
    <form class="card-body login-form">
        <div class="form-group">
            <label class="form-label">Username:</label>
            <input type="text" class="form-input" id="username-input-login">
            </div>
        <div class="form-group">
            <label class="form-label">Password:</label>
            <input type="password" class="form-input" id="password-input-login">
            </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </form>
    <br>
    <a href="/signup">Sign Up</a>
    </div>
<script src="/js/login.js"></script>
