<div class="card">
    <h2 class="card-header">Login</h2>
    <form class="card-body login-form" id="login">
            <input type="text" name="loginUser" id="loginUser" placeholder="username">
            <input type="text" name="loginPassword" id="loginPassword" placeholder="password">
            <button>Login</button>
        </form>
    <br>
    <a href="/signup">Sign Up</a>
    </div>
<script src="/js/login.js"></script>
