<main class="fog md:h-screen grid grid-cols-1 md:grid-cols-4 xl:grid-cols-6">
    <a href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light">
        <section class="bordering // flex justify-center md:col-span-2 md:h-[100%] md:overflow-y-auto xl:col-span-2">
            <div class="mb-6">
                <h2 class="flex justify-center">Choose Characters</h2>
                <div>
                    {{>addParty}}
                </div>
        </section>

        <button id="newCampaignForm"class="border-double border-4 mb-6 bg-black/50 text-lg font-bold ">BEGIN YOUR ADVENTURE Button</button>
</main>
<script src="/js/addParty.js"></script>