<main class="fog md:h-screen grid grid-cols-1 md:grid-cols-4 xl:grid-cols-6">
    <a href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light">

        <form class="flex justify-center my-5">
            <input type="text" name="newCampaign" id="createCampaign" placeholder="New Campaign Name Here!">
        </form>
        <section class="bordering // flex justify-center md:col-span-2 md:h-[100%] md:overflow-y-auto xl:col-span-2">
            <div class="mb-6">
                <h2 class="flex justify-center">Choose Characters</h2>
                <div>
                    {{>addParty}}
                </div>
        </section>
        <section class="bordering // flex place-items-center overflow-auto grid grid-cols-3 gap-2 md:h-[100%] md:grid-cols-5 md:overflow-y-auto md:col-span-4 xl:grid-cols-3 xl:col-span-2">
            <div class="col-1">
                <h2 class="flex justify-center">Need to create a new Character?</h2>
                {{>newplayer}}
            </div>
            </div>
        </section>
        <button id="newCampaignForm"class="border-double border-4 mb-6 bg-black/50 text-lg font-bold ">BEGIN YOUR ADVENTURE Button</button>
</main>
<script src="/js/newCampaign.js"></script>
<script src="/js/addParty.js"></script>