<body class="bg-[url(https://www.backerkit.com/blog/wp-content/uploads/2017/10/gloomhaven-isaac-childres-1.jpg)] bg-cover bg-no-repeat"></body>
<div class="login-card bg-gray-800 bg-opacity-90">
    <h2 class="card-header">Sign Up</h2>
    <form class="card-body login-form" id="signup">
            <input type="text" name="signUpUser" id="signUpUser" placeholder="username">
            <input type="text" name="signUpPassword" id="signUpPassword" placeholder="password">
            <button class="ml-5 px-3 py-1 rounded font-semibold bg-gray-100 text-gray-800">Make Account!</button>
        </form>
    <br>
    <a class="ml-5 px-3 py-1 rounded font-semibold bg-gray-100 text-gray-800" href="/login">Back to login</a>
    </div>
<script src="/js/signup.js"></script>
