<div class="card">
    <h2 class="card-header">Sign Up</h2>
    <form class="card-body login-form" id="signup">
            <input type="text" name="signUpUser" id="signUpUser" placeholder="username">
            <input type="text" name="signUpPassword" id="signUpPassword" placeholder="password">
            <button>Make Account!</button>
        </form>
    <br>
    <a class="ml-5 px-3 py-1 rounded font-semibold bg-gray-100 text-gray-800" href="/login">Back to login</a>
    </div>
<script src="/js/signup.js"></script>
